body {
font-size: 1.2em;
background-color: rgb(87, 112, 126);
background-size: cover;
}
#container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color:#461b31;
    opacity: 0.98;

}
.panel {
    max-width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    background: #eee;
}
button {
    background: #632646;
    height: 3em;
    width: 80%;
    margin-bottom: 1.5em;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
}
input{
    border-radius: 10px;
    width: 80%;
    height: 4em;
    text-align: center;
}